/* 全局变量 & 主题设置 */
:root {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-size-base: 14px;
  --line-height: 1.5;
  --color-text: rgba(255,255,255,0.87);
  --color-bg: #242424;
  --color-nav-bg: #23272b;
  --color-border: #222;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --color-btn-bg: #1a1a1a;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* layout */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* link */
a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  color: var(--color-link-hover);
}

/* button */
button {
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  background-color: var(--color-btn-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-link);
}
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* color scheme */
@media (prefers-color-scheme: light) {
  :root {
    --color-text: #213547;
    --color-bg: #ffffff;
    --color-link-hover: #747bff;
  }
}
